@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: #fafafa;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
aside {
  width: 20%;
  background-color: #ffffff;
  position: relative;
  height: 100%;
}
.sidebar {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 20%;
  height: 100%;
  padding: 1.2rem 0 0 2.5rem;
  position: fixed;
  border: 1px solid #dbdbdb;
}
.logo h1 {
  font-family: "Cookie", cursive;
  font-weight: lighter;
  font-size: 2rem;
}
.sidebar li img {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
nav ul {
  list-style-type: none;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
nav ul li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
nav ul li a i {
  font-size: 1.5rem;
}
.main {
  width: 80%;
  position: relative;
  padding: 20px 40px;
  border: 1px solid #dbdbdb;
}
.main__content {
  margin: 0px auto;
  display: flex;
  gap: 2rem;
}
.story {
  border: 1px solid #dbdbdb;
  width: 550px;
  height: 100px;
  border-radius: 0.65rem;
  background-color: #ffffff;
  display: flex;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 20px;
  gap: 1rem;
  scrollbar-width: none;

}
.story::-webkit-scrollbar {
  display: none;
}
.picture {
  position: relative;
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url("../assets/download.png"); */
  background: linear-gradient(60deg, orange, red, purple);
}
.picture img {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid #ffffff;
}
/* first post */
.pages {
  border: 1px solid #dbdbdb;
  width: 550px;
  margin-top: 20px;
  height: 50px;
  border-top-left-radius: 0.65rem;
  border-top-right-radius: 0.65rem;
  background-color: #ffffff;
}
.pages .img__profile {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  padding: 5px; 
}
.pages p {
  padding-top: 10px;
}
.picture-1 {
  width: 550px;
  height: 600px;
}
.page__comments {
  border: 1px solid #dbdbdb;
  width: 550px;
  height: 200px;
  background-color: #ffffff;
  line-height: 1.5rem;
  padding: 10px;
  margin-top: -4px;
}
.grey {
  color: #ab8e8e;
}
.grey-hr {
  color: #ab8e8e;
  font-size: 10px;
}
.page__bottom {
  display: flex;
  justify-content: space-between;
  border: 1px solid #dbdbdb;
  width: 550px;
  height: 50px;
  border-bottom-left-radius: 0.65rem;
  border-bottom-right-radius: 0.65rem;
  background-color: #ffffff;
}
.page__comments .fa-regular {
  
}
.bottom__post {
  color: #b7e1fd;
}
a:link {
  text-decoration: none;
}
.suggestions {
  border: 1px solid crimson;
  width: 40%;
}
.suggestions picture {
  border: 4px solid #dbdbdb;
  width: 60px;
  height: 60px;

  border-radius: 50%;
}
.suggestions picture img {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  position: relative;
}
.blue {
  color: #3aadf7;
}
.img__sug {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}